html.sdm_filter {
    filter: invert(1) hue-rotate(180deg) !important;
}

html.sdm_filter img,
html.sdm_filter video,
html.sdm_filter iframe {
    filter: invert(1) hue-rotate(180deg) !important;
    transform: translateZ(0) !important;
}
