html.sdm_dark_mode_preload::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    z-index: 2147483647;
}

html.sdm_dark_mode {
    filter: invert(1) hue-rotate(180deg) !important;
}

html.sdm_dark_mode img,
html.sdm_dark_mode video,
html.sdm_dark_mode iframe {
    filter: invert(1) hue-rotate(180deg) !important;
}
